<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sirimangalo.textsnippets"
    android:versionCode="4"
    android:versionName="1.4" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:backupAgent="TextSnippetsBackupAgent"
        android:restoreAnyVersion="true"
        >
        <meta-data android:name="com.google.android.backup.api_key" android:value="AEdPqrEAAAAIMUFRWiRkLvzQqSz8g2lW7hKnfpNJzNWomDE34w" />
        <activity
            android:name="org.sirimangalo.textsnippets.SnippetsActivity"
            android:label="@string/app_name" >
            <intent-filter>
				<action android:name="android.intent.action.SEND"/>
				<!-- are both of these necessary? -->
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.ALTERNATIVE"/>
				<data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity>
        
		<receiver android:name=".SnippetWidgetProvider" >
		    <intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="org.sirimangalo.textsnippets.REFRESH" />
				<action android:name="org.sirimangalo.textsnippets.CLICK" />
			</intent-filter>
		    <meta-data android:name="android.appwidget.provider"
		               android:resource="@xml/snippet_widget_info" />
		</receiver>
         <service android:name="SnippetWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />
                
	    <uses-library android:required="false" android:name="com.sec.android.app.multiwindow"/>
	    <meta-data android:name="com.sec.android.support.multiwindow" android:value="true" />
		<meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W" android:resource="@dimen/app_defaultsize_w" />
		<meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H" android:resource="@dimen/app_defaultsize_h" />
		<meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W" android:resource="@dimen/app_minimumsize_w" />
		<meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H" android:resource="@dimen/app_minimumsize_h" />	         
		<meta-data android:name="com.sec.android.multiwindow.STYLE" android:value="fixedRatio" /> 
	</application>

</manifest>
